* {

margin: 0px;
padding: 0px;
font-family:
box-sizing: border-box;

}


html body {
	margin: 0px;
	padding: 0px;
}

header {

	height: 200px;
	padding: 60px;
	background-color: #FFc305;
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
}


.no {

	text-indent: 10%;
	padding-left: 30px;
	
}

a {

	text-decoration: none;
	color: blue;
	
nav {

    height: 50
}



}
.logo {
    
    padding-top: 60px;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
	
}   


main {

	height: 600px;
	padding-top: 80px;
	font-family: 'Montserrat', sans-serif;
	align-items: center;
	

}

p {
	font-family: 'Montserrat', sans-serif;
	text-indent: 0%;
}


h1 {

	background-color: 000000;
}

h3 {

	height: 35px;
	padding-top: 10px;
	font-family: 'Montserrat', sans-serif;
}